


.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  order: 2;
  flex-direction: column;
}

label {
 
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px); /* To account for padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Gap between items */
}


.label-input-group {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 15px); /* Two items per row, accounting for gap */
}

.label-input-group.three-col {
  flex-basis: calc(33.333% - 15px); /* Three items per row, accounting for gap */
}